<?php
/**
 * Netstarter Pty Ltd.
 *
 * @category    Netstarter
 * @author      Netstarter Team <contact@netstarter.com>
 * @copyright   Copyright (c) 2014 Netstarter Pty Ltd. (http://www.netstarter.com.au)
 */
// @codingStandardsIgnoreFile
?>
<fieldset class="items check payable" id="payment_form_<?php echo $block->getMethodCode() ?>" style="display:none;">
    <ul>
        <li>
            <?php echo __('You will be redirected to the payment gateway after placing an order.'); ?>
        </li>
    </ul>
</fieldset>