<?php
/**
 * Netstarter Pty Ltd.
 *
 * @category    Netstarter
 * @author      Netstarter Team <contact@netstarter.com>
 * @copyright   Copyright (c) 2014 Netstarter Pty Ltd. (http://www.netstarter.com.au)
 */

// @codingStandardsIgnoreFile
?>
<?php $_code = $block->getMethodCode() ?>
<ul class="fieldset payment items ccard <?php echo $_code ?>" id="payment_form_<?php echo $_code ?>" style="display:none;">
    <li>
        <div class="input-box">
            <label for="<?php echo $_code ?>_cc_owner" class="required"><em>*</em><?php echo __(
                    'Name on Card'
                ) ?></label>
            <input type="text" title="<?php echo __('Name on Card') ?>" class="input-text required-entry"
                   id="<?php echo $_code ?>_cc_owner" name="payment[cc_owner]"
                   value="<?php echo $block->escapeHtml($block->getInfoData('cc_owner')) ?>"/>
        </div>
    </li>
    <li>
        <label for="<?php echo $_code ?>_cc_type" class="required"><em>*</em><?php echo __('Credit Card Type') ?>
        </label>

        <div class="input-box">
            <select id="<?php echo $_code ?>_cc_type" name="payment[cc_type]"
                    class="required-entry validate-cc-type-select">
                <option value=""><?php echo __('--Please Select--') ?></option>
                <?php $_ccType = $block->getInfoData('cc_type') ?>
                <?php foreach ($block->getCcAvailableTypes()as $_typeCode => $_typeName): ?>
                    <option
                        value="<?php echo $_typeCode ?>"<?php if ($_typeCode == $_ccType): ?> selected="selected"<?php endif ?>><?php echo $_typeName ?></option>
                <?php endforeach ?>
            </select>
        </div>
    </li>
    <li>
        <label for="<?php echo $_code ?>_cc_number" class="required"><em>*</em><?php echo __(
                'Credit Card Number'
            ) ?></label>

        <div class="input-box">
            <input type="text" id="<?php echo $_code ?>_cc_number" name="payment[cc_number]"
                   title="<?php echo __('Credit Card Number') ?>"
                   class="input-text validate-cc-number validate-cc-type" value=""/>
        </div>
    </li>
    <li id="<?php echo $_code ?>_cc_type_exp_div">
        <label for="<?php echo $_code ?>_expiration" class="required"><em>*</em><?php echo __(
                'Expiration Date'
            ) ?></label>

        <div class="input-box">
            <div class="v-fix">
                <select id="<?php echo $_code ?>_expiration" name="payment[cc_exp_month]"
                        class="month validate-cc-exp required-entry">
                    <?php $_ccExpMonth = $block->getInfoData('cc_exp_month') ?>
                    <?php foreach ($this->getCcMonths() as $k => $v): ?>
                        <option
                            value="<?php echo $k ? $k : '' ?>"<?php if ($k == $_ccExpMonth): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                    <?php endforeach ?>
                </select>
            </div>
            <div class="v-fix">
                <?php $_ccExpYear = $block->getInfoData('cc_exp_year') ?>
                <select id="<?php echo $_code ?>_expiration_yr" name="payment[cc_exp_year]" class="year required-entry">
                    <?php foreach ($block->getCcYears() as $k => $v): ?>
                        <option
                            value="<?php echo $k ? $k : '' ?>"<?php if ($k == $_ccExpYear): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                    <?php endforeach ?>
                </select>
            </div>
        </div>
    </li>
    <?php echo $block->getChildHtml() ?>
    <?php if ($block->hasVerification()): ?>
        <li id="<?php echo $_code ?>_cc_type_cvv_div">
            <label for="<?php echo $_code ?>_cc_cid" class="required"><em>*</em><?php echo __(
                    'Card Verification Number'
                ) ?></label>

            <div class="input-box">
                <div class="v-fix">
                    <input type="text" title="<?php echo __('Card Verification Number') ?>"
                           class="input-text cvv required-entry validate-cc-cvn" id="<?php echo $_code ?>_cc_cid"
                           name="payment[cc_cid]" value=""/>
                </div>
                <a href="#" class="cvv-what-is-this"><?php echo __('What is this?') ?></a>
            </div>
        </li>
    <?php endif; ?>

    <?php if ($this->hasSsCardType()): ?>
        <li id="<?php echo $_code ?>_cc_type_ss_div">
            <ul class="inner-form">
                <li class="form-alt"><label for="<?php echo $_code ?>_cc_issue"
                                            class="required"><em>*</em><?php echo __(
                            'Switch/Solo/Maestro Only'
                        ) ?></label></li>
                <li>
                    <label for="<?php echo $_code ?>_cc_issue"><?php echo __('Issue Number') ?>:</label>
                <span class="input-box">
                    <input type="text" title="<?php echo __('Issue Number') ?>"
                           class="input-text validate-cc-ukss cvv" id="<?php echo $_code ?>_cc_issue"
                           name="payment[cc_ss_issue]" value=""/>
                </span>
                </li>

                <li>
                    <label for="<?php echo $_code ?>_start_month"><?php echo __('Start Date') ?>:</label>

                    <div class="input-box">
                        <div class="v-fix">
                            <select id="<?php echo $_code ?>_start_month" name="payment[cc_ss_start_month]"
                                    class="validate-cc-ukss month">
                                <?php foreach ($block->getCcMonths() as $k => $v): ?>
                                    <option value="<?php echo $k ? $k : '' ?>"<?php if ($k == $block->getInfoData(
                                            'cc_ss_start_month'
                                        )
                                    ): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                                <?php endforeach ?>
                            </select>
                        </div>
                        <div class="v-fix">
                            <select id="<?php echo $_code ?>_start_year" name="payment[cc_ss_start_year]"
                                    class="validate-cc-ukss year">
                                <?php foreach ($this->getSsStartYears() as $k => $v): ?>
                                    <option value="<?php echo $k ? $k : '' ?>"<?php if ($k == $block->getInfoData(
                                            'cc_ss_start_year'
                                        )
                                    ): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                                <?php endforeach ?>
                            </select>
                        </div>
                    </div>
                </li>
                <li class="adv-container">&nbsp;</li>
            </ul>

        </li>
    <?php endif; ?>
</ul>
